* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #05c46b;
    font-family: Verdana;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
    border: none;
    padding: 0;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
    margin-top: 5px;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.radio-option,
.checkbox-option {
    display: block;
    margin-bottom: 10px;
}

.small-text {
    font-size: 0.8em;
    color: #666;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #04a65a;
}

